body {
    background: cream;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  html { 
      background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRlA1yq8bKZEpmoEUejAr2-S7mW6aXDPb-tKQ&usqp=CAU) no-repeat center top fixed; 
    background-size: cover;
  }

  a {
    color: red;
  }

  #title {
    text-align:center;
    color:#f10202;
    font-size: 40px;
    
  }
  
  #subtitle {
    text-align:center;
    color:white;
    margin: 40px;
  }
  
  #image {
    display:block;
    width:50%;
    max-width: 100%;
    margin:0 25%;
    border-radius:50%;
    transition: all 0.5s ease-out;
  }
  
  #image:hover{
    box-shadow: -4px -2px 20px #d6793e, 4px 1px 20px orange;
    transition: all 0.5s ease-in;
  }
  
  #img-caption {
    text-align:center;
    color:white;
    margin: 50px;
    
  }
  
  #tribute-info {
    text-align:center;
    color:white;
    margin: 50px 50px 0;
    background-color: rgba(0, 0, 0, .3);
  }
  
  ul {
    padding: 15px;
  }

  li {
    list-style: none;
      width: 70%;
  margin: 10px auto;
  padding: 20px;
  text-align: justify;
  line-height: 1.5em;
  }

  #learn-more {
    text-align:center;
    color:white;
    margin: 20px;;
  }
  #tribute-link {
    text-align: center;
    text-decoration:underline;
    color:red;
  }